#participe_en{
    margin: 80px;
}

#participe{
    color: var(--tinto);
    text-align: center;
    font-size: 25px;
}

#aqui{
    color: var(--tinto);
    text-align: center;
    font-weight: bolder;
}

#flecha{
    text-align: center;
    margin: 20px;
}